<!DOCTYPE html>
<html>
<head>
	<title>Kafka Web Monitor</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/lib/bootstrap-3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Kafka Web Monitor</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="starter-template">
		<h3><%= message %></h3>
		<p><%= error.status %></p>
		<div>
			<pre><%= error.stack %></pre>
		</div>
	</div>
</div>
</body>
</html>
